<div class="lol">
  <h1>Shell Application (essa aplicação carrega os MFEs)</h1>
  Variável da lib1: {{ name }}
  <p>Navegar para <a [routerLink]="'/sample/1'">Sample application (MicroFrontend).</a></p>
  <p>Navegar para <a [routerLink]="'/sample/2'">Sample 1 application (MicroFrontend).</a></p>
  <p>Navegar para <a [routerLink]="'/'">Home.</a></p>
  <button (click)="changeName()">Trocar nome (shell)</button>
  <button (click)="dispatchEvent()">Disparar evento</button>
</div>
<router-outlet></router-outlet>